/* 언어설정 */
@charset 'UTF-8';
@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Loved+by+the+King&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128&display=swap');
@font-face {
  font-family: "MaplestoryOTFBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* reset */
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  border: none;
  vertical-align: bottom;
}

/* font-family: 'Orbit', sans-serif; */
/* font-family: 'Loved by the King', cursive; */
/*  font-family: 'Noto Serif JP', serif; */
/* font-family: 'Love Ya Like A Sister', cursive; */
/* font-family: 'Libre Barcode 128 Text' */



/* 헤더 설정 */
header {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 500;
}
/* header h1 {position: fixed;
                left: 0;
                top: 0;} */
/* 헤더 nav 설정 */
header nav {
  height: 100%;
  margin: 0 auto;
  width: 100%;
 
}
header nav ul {
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
header nav li {
  
  transform: scaleY(1);
}

header nav li a {
  display: block;
  font-family: "Libre Barcode 128";
  font-size: 3vw;
  transition: all 0.8s;
  transform-origin: left top;
}

header nav li span {
  display: block;
text-align: center;
font-family: 'Orbit', sans-serif;
transform: translateY(-20px
);
font-size: 30px;
transition: all 0.8s;

}






header nav li:hover a {color: #C38EA4;
  transform: scaleY(2);}
  header nav li:hover span { transform: translateY(20px
    );
  color: #C38EA4;}

  header nav li:nth-child(1) a {color: #C38EA4;}
header nav li:nth-child(1) span {color: #C38EA4;
}
header nav li:nth-child(1).on a {color: #A2CCE4;}
header nav li:nth-child(1).on span {color: #A2CCE4;}

section {
  overflow: hidden;
  width: 100%;
}


.intro {position: absolute;
  z-index: 500;
  left: 5%;
  top: 5%;
  width: 8%;
        height: 15%;
          border-radius: 100%;
          overflow: hidden;
        cursor: pointer;
      
    }
body>img {position: absolute;
        width: 15%;
        height: 30%;
        left: 1%;
        top: -2%;
        animation: circle  infinite linear 8s;
      transform-origin: 50% 50%;}


        @keyframes circle {

          
          100% {transform: rotate(360deg);}


        }
.intro a {display: inline-block;}
.intro img {width: 90%;
            height: 90%;}


.main1 {position: relative;
  opacity: 1;
  transition: all 1s;
}
.main2 {position: absolute;
      top: 0;
      left: 0;
    opacity: 0;
    
    perspective: 700px;
    transition: all 1s;}
.main1.on {opacity: 0;}
.main2.on {opacity: 1;}

/* 박스1 설정 */

.box1 {
  height: 100vh;
  width: 100%;
  position: relative;
}

.box1 h2 {
  writing-mode: vertical-lr;
  font-size: 7vw;
  position: absolute;
  right: 4%;
  top: 10%;
  font-family: 'Noto Serif JP', serif;
  font-weight: normal;
  color: #C38EA4;
}

.box1 h3 {
  writing-mode: vertical-lr;
  font-family: "Libre Barcode 128 Text";
  position: absolute;
  right: 0;
  top: 10%;
  font-size: 50px;
  font-weight: normal;
  color: #C38EA4;
}


.box1 .scroll {position: absolute;
    left: 5%;
   bottom: 20%;
    width: 15%;
    height: 30%;
 }


.box1 .scroll img { animation: ani linear infinite 1.2s alternate;
width: 100%;
height: 100%;}


/*  박스1 메인 설정 */
.box1 .main {width: 100%;
    height: 100vh;
    position: relative;
  perspective: 700px;}
.box1 .main p {position: absolute;}

.box1 .main .imgBox1 {
    background-image: url(img/remove/main_bg.png);
    left: 35%;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
    width: 750px;
height: 85%;
text-indent: -9999px;
z-index: 5;

}



.box1 .main .imgBox2 {
    background-image: url(img/remove/main1.png);
    width: 40%;
height: 80%;
background-repeat: no-repeat;
background-size: contain;
bottom: 0;
left: 35%;
text-indent: -9999px;
z-index: 6;
transition: all 1.5s;
}
.box1 .main .imgBox2.on {transform: rotateY(180deg);
                  opacity: 0;}

.box1 .main .imgBox3 {
    background-image: url(img/remove/main1_1.png);
    
background-repeat: no-repeat;
background-size: contain;
width: 447px;
height: 60%;
left: 18%;
bottom: -2%;
text-indent: -9999px;
z-index: 7;
opacity: 1;
transition: all 2.5s ease-in-out;
}

.box1 .main .imgBox3.on {opacity: 0;}


.box1 .main .imgBox4 {
    background-image: url(img/remove/main1_4.png);
    background-repeat: no-repeat;
background-size: contain;
width: 30%;
height: 50%;
right: 20%;
bottom: 0;
transform: scaleX(-1);
text-indent: -9999px;
z-index: 8;
opacity: 1;
transition: all 1.5s ease-in-out;
}

.box1 .main .imgBox4.on {opacity: 0;}

.box1 .main .imgBox5 {
    background-image: url(img/remove/main1_3.png);
    background-repeat: no-repeat;
background-size: contain;
width: 20%;
height: 40%;
right: 25%;
top: 0;
text-indent: -9999px; 
transition: all 1.5s ease-in-out;
}

.box1 .main .imgBox5.on {
  transform-origin: bottom left;
  transform: rotate(60deg);}

.box1 .main .imgBox6 {
    background-image: url(img/remove/sign\(remove\).png);
    width: 550px;
    height: 60%;
    left: 10%;
    top: 1%;
    
    text-indent: -9999px;
    background-repeat: no-repeat;
background-size: contain;
}







/*  박스2 설정 */

.box2 {
  width: 100%;
    height: 100vh;
  position: relative;
  
}
.box2  {
}
.box2  {
}

.box2 h2 {
    writing-mode: vertical-lr;
    font-size: 7vw;
    position: absolute;
    right: 5%;
    top: 10%;
    font-family: 'Noto Serif JP', serif;
    font-weight: normal;
    color: #A2CCE4;
  }
  
  .box2 h3 {
    writing-mode: vertical-lr;
    font-family: "Libre Barcode 128 Text";
    position: absolute;
    right: 0;
    top: 10%;
    font-size: 50px;
    font-weight: normal;
    color: #A2CCE4;
  }


  .box2 .scroll {position: absolute;
    left: 5%;
   bottom: 15%;
    width: 15%;
    height: 30%;
 }


.box2 .scroll img { animation: ani linear infinite 1.2s alternate;
width: 100%;
height: 100%;}

/* 박스2 메인 설정 */

.box2 .main {width: 100%;
}
.box2 .main p {position: absolute;}

.box2 .main .imgBox1 {
    background-image: url(img/remove/main_bg2.png);
    left: 35%;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
    width: 750px;
height: 85%;
text-indent: -9999px;
z-index: 5;
}
.box2 .main .imgBox2 {
    background-image: url(img/remove/main2.png);
    width: 40%;
height: 80%;
background-repeat: no-repeat;
background-size: contain;
bottom: 0;
left: 35%;
text-indent: -9999px;
z-index: 6;
transition: all 1.5s;
transform-origin: center;
opacity: 1;
}

.box2 .main .imgBox2.on {transform: rotateY(-180deg);
  opacity: 0;
  }

.box2 .main .imgBox3 {
    background-image: url(img/remove/main2_1.png);
    
background-repeat: no-repeat;
background-size: contain;
width: 30%;
height: 60%;
left: 20%;
bottom: 0;
text-indent: -9999px;
z-index: 7;
}
.box2 .main .imgBox4 {
    background-image: url(img/remove/main2_2.png);
    background-repeat: no-repeat;
background-size: contain;
width: 35%;
height: 70%;
right: 10%;
bottom: 0;

text-indent: -9999px;
z-index: 8;
}

.box2 .main .img5 {
  width: 250px;
  height: 40%;
  right: 32%;
  text-indent: -9999px;
  position: absolute;
  transform-origin: bottom left;
  transform: rotate(45deg);
  opacity: 0;
  transition: all 1s;
}



.box2 .main .imgBox5 {
    background-image: url(img/remove/main2_3.png);
    background-repeat: no-repeat;
background-size: contain;
width: 100%;
height: 100%;

}

.box2 .main .img5.on {transform: rotate(0);
      opacity: 1;}

.box2 .main .imgBox6 {
    background-image: url(img/remove/sign\(remove\).png);
    width: 550px;
    height: 60%;
    left: 10%;
    top: 1%;
    
    text-indent: -9999px;
    background-repeat: no-repeat;
background-size: contain;
}



/* 박스3 설정 */















@keyframes ani {


0% {transform :scale(0.9) }


100% {transform: scale(1.1);}


}

