/* 언어설정 */
@charset 'UTF-8';
@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kurale&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karma&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koh+Santepheap&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  border: none;
  vertical-align: bottom;
}

/* font-family: 'Jacques Francois', serif; */
/* font-family: 'Jacques Francois Shadow', serif; */
/* font-family: "Inter", sans-serif; */
/* font-family: "Kurale", serif; */
/* font-family: "Gowun Dodum", sans-serif; */
/* font-family: 'Karma', serif; */
/* font-family: 'Koh Santepheap', serif; */

header {
  overflow: hidden;
  height: 150px;
  width: 100%;
  border-bottom: 2px solid #000;
}

header h1 {
  text-align: center;
  background-image: url(img/ysllogoblack.png);
  background-size: cover;
  background-position: center center;
  width: 250px;
  height: 50px;
  text-indent: -9999px;
  margin: 0 auto;
  padding-top: 50px;
  cursor: pointer;
}

header .util {
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 10000;
}
header .util p {
  color: #000;
  float: left;
  margin-right: 40px;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 10002;
}

header .util p:nth-child(2) {
  position: relative;
}

header .numb {
  border-radius: 100px;
  background-color: #e6a019;
  position: absolute;
  width: 28px;
  height: 28px;
  top: -15px;
  right: 53%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10001;
  color: #fff;
  font-family: "Gowun Dodum", sans-serif;
  z-index: 10010;
}

header input {
  position: absolute;
  bottom: 0px;
  right: 30px;
  border-radius: 5px;
  border: 2px solid #e6a019;
  width: 50%;
  height: 20px;
  padding: 5px;
  opacity: 0;
  transition: all 0.8s;
  z-index: -10;
}

header input.on {
  opacity: 1;
  bottom: -40px;
}

header .util i {
  font-size: 25px;
}

header .util p:hover {
  transform: scale(1.2);
  color: #e6a019;
}

header .util p.on {
  color: #fff;
}

header nav {
  width: 60%;
  margin: 0 auto;
}
header nav ul {
  display: flex;
  justify-content: space-around;
}
header nav li {
  padding: 0 5px;
}
header nav li a {
  font-family: "Jacques Francois", serif;
  display: block;
  font-size: 18px;
}

header nav li:hover {
  background-color: #e6a019;
}
header nav li:hover a {
  color: #fff;
}

/* 박스1 설정 */

.box1 {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  width: 70%;
  margin: 0 auto;
  height: 800px;
  position: relative;
}

.box1 > p {
  position: absolute;
  margin-top: 10px;
  font-family: "Jacques Francois", serif;
  font-size: 18px;
  left: 10%;
  width: 100%;
  z-index: 10;
}

.box1 > p span {
  display: inline-block;
  text-decoration: underline;
  font-weight: 600;
}

/* 박스1 이미지박스 */

.box1 .imgBox {
  width: 50%;
  box-sizing: border-box;
  position: relative;
}
.box1 .imgBox .main {
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  padding-left: 70px;
  padding-top: 50px;
  height: 70%;
}
.box1 .imgBox .main ul {
  display: flex;
  width: 250px;
  height: 100%;
  overflow: hidden;
}

.box1 .imgBox .main ul li {
  padding-left: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 230px;
  height: 500px;
  left: 0;
}

.box1 .imgBox .main ul li img {
  width: 230px;
  height: 380px;
}

.box1 .imgBox .trailer {
  height: 30%;
  overflow: hidden;
  position: relative;
}

.box1 .imgBox .trailer ul {
  display: flex;
  position: absolute;
  height: 100%;
  transition: all 0.5s;
  overflow: hidden;
}

.box1 .imgBox .trailer ul:nth-child(1) {
  left: 0;
}
.box1 .imgBox .trailer ul:nth-child(2) {
  left: 150%;
  
}

.box1 .imgBox .trailer ul li {
  width: 150px;
  height: 90%;
  transition: all 0.5s;
  text-indent: -9999px;
  cursor: move;
  position: relative;
  margin-right: 50px;
}

.box1 .imgBox .main ul li span {
  color: #000;
  position: absolute;
  top: 40%;
  right: 10%;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  background-color: #fff;
  z-index: 10000;
  border: 2px solid #e6a019;
  cursor: pointer;
}

.box1 .imgBox .main ul li span:hover {
  background-color: #e6a019;
  color: #fff;
}

.box1 .imgBox .trailer ul li:nth-child(1) {
  background-image: url(img/libre4.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.box1 .imgBox .trailer ul li:nth-child(2) {
  background-image: url(img/libre5.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.box1 .imgBox .trailer ul li:nth-child(3) {
  background-image: url(img/libre6.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.box1 .imgBox .trailer ul li:nth-child(4) {
  background-image: url(img/libre7.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.box1 .imgBox .trailer ul li:nth-child(5) {
  background-image: url(img/libre8.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.box1 .imgBox .trailer ul li:nth-child(6) {
  background-image: url(img/libre9.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.shop {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #000;
  z-index: 50000;
}

.shop h2 {
  font-family: "Jacques Francois", serif;
  padding: 5px;
}

.shop section {
  width: 60%;
  margin: 5% auto;
  display: flex;
  padding: 10px;
  background-color: #fff;
}

.shop div {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 20%;
  overflow: hidden;
  height: 400px;
  overflow-y: scroll;
}

.shop div img {
  width: 170px;
  height: 100%;
}

.shop section div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.shop section div ul {
  width: 100%;
}
.shop section div li {
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  border: 1px solid #999;
  margin-bottom: 5px;
}

.shop section div p {
  cursor: pointer;
  text-align: center;
}

.shop .plus {
  border: 1px solid #e6a019;
  padding: 2px 5px 2px 5px;
  line-height: 0.9;
}

.shop .minus {
  border: 1px solid #e6a019;
  padding: 2px 6px 2px 6px;
  line-height: 1;
}

.shop .plus:hover {
  background-color: #e6a019;
  color: #fff;
}

.shop .minus:hover {
  background-color: #e6a019;
  color: #fff;
}

.shop .text {
  display: inline-block;
}

.shop .btn {
  background-color: transparent;
  display: block;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.shop .btn button {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

.shop .btn button:hover {
  background-color: #e6a019;
}

/* 박스1 텍스트박스 */

.box1 .txtBox {
  width: 40%;
  margin-left: 10%;
}

.box1 .txtBox h2 {
  font-size: 60px;
  font-weight: 600;
  font-family: "Koh Santepheap", serif;
  padding-top: 50px;
}

.box1 .txtBox p {
  font-family: "Karma", serif;
  font-size: 18px;
  padding-top: 20px;
}

.box1 .txtBox .numBox {
  margin-top: 50px;
  display: flex;
  height: 30px;
  justify-content: center;
  border: 2px solid #e6a019;
  width: 20%;

  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  align-items: center;
  position: relative;
}

.box1 .txtBox .numBox p {
  padding-bottom: 5px;
}

.box1 .txtBox .numBox p:nth-child(1) {
  position: absolute;
  background-color: #fff;
  top: -100%;
  width: 70px;
}

.box1 .txtBox .numBox p:nth-child(2) {
  cursor: pointer;
}
.box1 .txtBox .numBox p:nth-child(3) {
  margin-left: 40px;
  margin-right: 40px;
}

.box1 .txtBox .numBox p:nth-child(4) {
  cursor: pointer;
}

.box1 .txtBox .btn1 {
  border: 2px solid #e6a019;
  width: 30%;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  font-size: 19px;
  cursor: pointer;
}

.box1 .txtBox .btn2 {
  border: 2px solid #e6a019;
  width: 30%;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.box1 .txtBox .btn1:hover {
  background-color: #e6a019;
  color: #e6e6fa;
}
.box1 .txtBox .btn2:hover {
  background-color: #e6a019;
  color: #e6e6fa;
}

/* 박스2 설정 */

.box2 {
  overflow: hidden;
  height: 700px;
  width: 90%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.box2 video {
  object-fit: cover;
  object-position: center top;
  height: 100%;
  width: 100%;
}

/* 박스3 설정 */

.box3 {
  overflow: hidden;
  height: 400vh;
  width: 80%;
  margin: 0 auto;
}
.box3 > div {
  background-color: #fff;
}
.box3 > h2 {
  position: fixed;
  top: 0;
  left: 0;
}
/* 박스3-1 설정 */

.box3-1 {
  height: 100vh;
  display: flex;
  width: 1680px;
  position: relative;
  overflow: hidden;
}

.box3-1 .imgBox {
  width: 50%;
  height: 100%;
  position: absolute;
  left: -200px;
  transition: all 1s;
  opacity: 0;
}
.box3-1 .imgBox.on {
  left: 100px;
  opacity: 1;
}

.box3-1 .imgBox img {
  width: 800px;
  height: 500px;
  margin-top: 100px;
}
.box3-1 .txtBox {
  width: 50%;
  position: absolute;
  right: -200px;
  transition: all 1s;
  opacity: 0;
}
.box3-1 .txtBox.on {
  right: 0px;
  opacity: 1;
}

.box3-1 .txtBox h2 {
  margin-top: 100px;
  font-style: normal;
  text-align: center;
  font-family: "Jacques Francois", serif;
  font-weight: 400;
}
.box3-1 .txtBox h2 b {
  font-size: 60px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  color: #e6a019;
  font-family: "Jacques Francois", serif;
}

.box3-1 .txtBox p {
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
}

.box3-1 .txtBox p em {
  font-style: normal;
  color: #242fb2;
  font-size: 28px;
  font-weight: 600;
}
.box3-1 .txtBox p strong {
  color: #ffc01f;
  font-size: 28px;
}

/* 박스 3-2 설정 */

.box3-2 {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  width: 1600px;
}

.box3-2 .imgBox {
  width: 50%;
  background-attachment: fixed;
  opacity: 0;
  transition: all 1s;
}
.box3-2 .imgBox img {
  height: 770px;
  position: absolute;
  top: -180px;
  right: -20px;
}

.box3-2 .imgBox.on {
  opacity: 1;
}

.box3-2 .txtBox {
  width: 50%;
}
.box3-2 .txtBox p {
  font-size: 25px;
  text-align: center;
}

.box3-2 .txtBox p:nth-child(1) {
  padding-top: 100px;
}
.box3-2 .txtBox p:nth-child(2) {
  padding-top: 80px;
  padding-bottom: 40px;
}

.box3-2 .txtBox p span {
  color: #242fb2;
  font-size: 28px;
  font-weight: 800;
}
.box3-2 .txtBox p em {
  font-style: normal;
  color: #e6a019;
  font-size: 28px;
  font-weight: 600;
}

/* 박스3-3 설정 */

.box3-3 {
  width: 1300px;
  margin: 0 auto;

  display: flex;
  height: 100vh;
}

.box3-3 .imgBox {
  width: 50%;
  transform: translateY(700px);
  opacity: 0;
  transition: all 1s;
}

.box3-3 .imgBox.on {
  transform: translateY(0);
  opacity: 1;
}

.box3-3 .txtBox {
  width: 50%;
}

.box3-3 .txtBox h2 {
  font-size: 60px;
  font-weight: 400;
  font-family: "Jacques Francois", serif;
  color: #e6a019;
  text-align: center;
}

.box3-3 .txtBox .note {
  margin-left: 120px;
  margin-top: 50px;
  height: 240px;
  position: relative;
}
.box3-3 .txtBox .note p {
  width: 400px;
  height: 80px;
  font-size: 30px;
  font-family: "Jacques Francois", serif;
  text-align: center;
  padding-top: 30px;
  position: absolute;
  top: -400px;
  opacity: 0;
}

.box3-3 .note .note1 {
  transition: all 2s;
}
.box3-3 .note .note2 {
  transition: all 1.5s;
}
.box3-3 .note .note3 {
  transition: all 1s;
}

.box3-3 .note .note1.on {
  background-color: #e6e6fa;
  top: 0;
  opacity: 1;
}
.box3-3 .note .note2.on {
  background-color: #ffc01f;
  color: #fff;
  top: 110px;
  opacity: 1;
}
.box3-3 .note .note3.on {
  background-color: #edef7e;
  top: 220px;
  opacity: 1;
}

/* 박스3-4 설정 */

.box3-4 {
  display: flex;
  height: 100vh;
  width: 1480px;
  flex-direction: row-reverse;
  margin: 0 auto;
}
.box3-4 .imgBox {
  width: 50%;
  height: 100%;
  transform: translateX(300px);
  transition: all 1s;
  overflow: hidden;
  opacity: 0;
}
.box3-4 .imgBox img {
  width: 600px;
  height: 700px;
  padding-left: 100px;
}
.box3-4 .imgBox.on {
  transform: translateX(0);
  opacity: 1;
}

.box3-4 .txtBox {
  width: 50%;
  transform: translateX(-300px);
  opacity: 0;
  transition: all 1s;
}

.box3-4 .txtBox.on {
  transform: translateX(0);
  opacity: 1;
}

.box3-4 .txtBox p {
  text-align: center;
  padding-right: 50px;
  padding-top: 80px;
  font-size: 25px;
}
.box3-4 .txtBox p b {
  color: #242fb2;
  display: inline-block;
  font-size: 25px;
}
.box3-4 .txtBox p span {
  font-weight: 600;
  font-size: 25px;
}

.box3-4 .txtBox p em {
  color: #e6a019;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
}

/* 박스4 설정 */

.box4 {
  height: 500px;
  background-color: #000;
  overflow: hidden;
  width: 100%;
}
.box4 video {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

/* 박스5 설정 */

.box5 {
  height: 400px;
  position: relative;
  overflow: hidden;
  padding-top: 50px;
  overflow: hidden;
}

.box5 ul {
  display: flex;
  width: 100%;
  position: absolute;
}
.box5 ul li {
  width: 10%;
  margin-right: 7%;
}

.box5 ul li img {
  width: 100%;
  height: 350px;
  transition: all 0.6s;
}

/* 박스5 에니메이션 설정 */

.box5 ul:nth-child(1) {
  left: 0;
  animation: ani4 20s linear infinite;
}
.box5 ul:nth-child(2) {
  left: 100%;
  animation: ani3 20s linear infinite;
}

.box5:hover ul {
  animation-play-state: paused;
}
.box5 ul li:hover img {
  transform: scale(1.3);
}

/* 푸터 설정 */

footer {
  height: 400px;
  width: 100%;
  overflow: hidden;
}
footer .top {
  height: 300px;
  width: 100%;

  position: relative;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

footer .top h2 {
  position: absolute;
  left: 40%;
  top: 10%;
  background-image: url(img/logo.jpg);
  background-size: contain;
  width: 400px;
  background-repeat: no-repeat;
  height: 200px;
  text-indent: -9999px;
}

footer .top .snsBox {
  font-size: 30px;

  display: flex;
  position: absolute;
  right: 10%;
  bottom: 0;
}

footer .top .snsBox a {
  display: block;
  padding-right: 20px;
  padding-bottom: 20px;
}

footer .snsBox p:hover a {
  transform: scale(1.2);
  color: #e6a019;
}

footer .bot {
  height: 100px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

footer .bot p {
  padding-top: 20px;
}

/* 박스5 슬라이드 설정 */

@keyframes ani3 {
  0% {
    left: 100%;
  }
  50% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes ani4 {
  0% {
    left: 0;
  }
  50% {
    left: -100%;
  }
  50.00001% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

/* 반응형 --------------------------------------------------------------------------------- */

@media (max-width: 769px) {
  header {
    overflow: hidden;
    height: 150px;
    width: 100%;
    border-bottom: 2px solid #000;
  }

  header h1 {
    text-align: center;
    background-image: url(img/ysllogoblack.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 100px;
    text-indent: -9999px;
    margin: 0 auto;
    padding-top: 50px;
    cursor: pointer;
  }

  header .util {
    position: fixed;
    top: 15px;
    right: -0px;
    z-index: 10000;
    font-size: 10px;

    display: flex;
  }
  header .util p {
    color: #000;
    float: none;

    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 10002;
  }

  header .util p:nth-child(2) {
    position: relative;
    margin-right: 5px;
  }

  header .numb {
    border-radius: 50px;
    background-color: #e6a019;
    position: absolute;
    width: 18px;
    height: 18px;
    top: -12px;
    right: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10001;
    color: #fff;
    font-family: "Gowun Dodum", sans-serif;
    z-index: 10010;
  }

  header nav {
    display: none;
  }

  /* 박스1 설정 */

  .box1 {
    overflow: hidden;
    display: block;
    height: 800px;
    width: 90%;
  }

  .box1 > p {
    font-size: 14px;
    left: 0%;
  }

  /* 박스1 이미지박스 */

  .box1 .imgBox {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    height: 500px;
  }
  .box1 .imgBox .main {
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
    padding-left: 0px;
    padding-top: 50px;
    height: 70%;
  }
  .box1 .imgBox .main ul {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .box1 .imgBox .main ul li {
    padding-left: 0px;
    padding-bottom: 0px;
    width: 250px;
    margin: 0 20px;
    height: 280px;
    left: 0;
  }

  .box1 .imgBox .main ul li img {
    margin: 0 20px;
    width: 230px;
    background-size: cover;
    height: 100%;
  }

  .box1 .imgBox .trailer {
    margin-top: 50px;
    height: 200px;
    overflow: hidden;
    position: relative;
  }

  .box1 .imgBox .trailer ul {
    display: flex;
    position: absolute;
    height: 100%;
    top: 20%;
    transition: all 0.5s;
    overflow: visible;
  }

  .box1 .imgBox .trailer ul li {
    width: 90px;
    height: 100px;
    transition: all 0.5s;
    text-indent: -9999px;
    cursor: move;
    position: relative;
  }

  .box1 .imgBox .main ul li span {
    color: #000;
    position: fixed;
    top: 90.5%;
    right: 55%;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    background-color: #fff;
    z-index: 10000;
    border: 2px solid #e6a019;
    cursor: pointer;
  }

  .box1 .imgBox .main ul li span:hover {
    background-color: #e6a019;
    color: #fff;
  }

  .box1 .imgBox .trailer ul li:nth-child(1) {
    background-image: url(img/libre4.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .box1 .imgBox .trailer ul li:nth-child(2) {
    background-image: url(img/libre5.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .box1 .imgBox .trailer ul li:nth-child(3) {
    background-image: url(img/libre6.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .box1 .imgBox .trailer ul li:nth-child(4) {
    background-image: url(img/libre7.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .box1 .imgBox .trailer ul li:nth-child(5) {
    background-image: url(img/libre8.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .box1 .imgBox .trailer ul li:nth-child(6) {
    background-image: url(img/libre9.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .shop {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #000;
    z-index: 50000;
  }

  .shop h2 {
    font-family: "Jacques Francois", serif;
    text-align: center;
    padding: 5px;
  }

  .shop section {
    width: 90%;
    margin: 5% auto;
    display: block;
    padding: 10px;
    background-color: #fff;
  }

  .shop div {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: 20%;
    overflow: hidden;
    height: 400px;
    overflow-y: scroll;
  }

  .shop div img {
    width: 110px;
    height: 60%;
    margin-right: 5px;
  }

  .shop section div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .shop section div ul {
    width: 100%;
  }
  .shop section div li {
    list-style: none;
    display: flex;
    align-items: center;
    height: 60%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    border: 1px solid #999;
    margin-bottom: 5px;
  }

  .shop section div p {
    cursor: pointer;
    text-align: center;
    margin-right: 5px;
  }

  .shop .plus {
    border: 1px solid #e6a019;
    padding: 2px 5px 2px 5px;
    line-height: 0.9;
  }

  .shop .minus {
    border: 1px solid #e6a019;
    padding: 2px 6px 2px 6px;
    line-height: 1;
  }

  .shop .plus:hover {
    background-color: #e6a019;
    color: #fff;
  }

  .shop .minus:hover {
    background-color: #e6a019;
    color: #fff;
  }

  .shop .text {
    padding-right: 5px;
    text-align: center;
    display: inline-block;
  }

  .shop .btn {
    background-color: transparent;
    display: block;
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }

  .shop .btn button {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
  }

  .shop .btn button:hover {
    background-color: #e6a019;
  }

  /* 박스1 텍스트박스 */

  .box1 .txtBox {
    width: 100%;
    margin-left: 0%;
    margin-top: 50px;
    text-align: center;
  }

  .box1 .txtBox h2 {
    font-size: 25px;
    font-weight: 600;
    font-family: "Koh Santepheap", serif;
    padding-top: 50px;
  }

  .box1 .txtBox h2 br {
    display: inline-block;
    content: " ";
    padding: 0 2px;
  }
  .box1 .txtBox p {
    font-family: "Karma", serif;
    font-size: 18px;
    padding-top: 20px;
  }

  .box1 .txtBox .numBox {
    margin-top: 50px;
    display: flex;
    height: 30px;
    justify-content: center;
    border: 2px solid #e6a019;
    width: 20%;

    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    align-items: center;
    position: relative;
  }

  .box1 .txtBox .numBox p {
    padding-bottom: 5px;
  }

  .box1 .txtBox .numBox p:nth-child(1) {
    position: absolute;
    background-color: #fff;
    top: -100%;
    width: 70px;
  }

  .box1 .txtBox .numBox p:nth-child(2) {
    cursor: pointer;
  }
  .box1 .txtBox .numBox p:nth-child(3) {
    margin-left: 40px;
    margin-right: 40px;
  }

  .box1 .txtBox .numBox p:nth-child(4) {
    cursor: pointer;
  }

  .box1 .txtBox .btn1 {
    position: fixed;
    border: 2px solid #e6a019;
    width: 30%;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    bottom: 2.5%;
    right: 5%;
    background-color: #fff;
    z-index: 1000;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
  }

  /* 박스2 설정 */

  .box2 {
    overflow: hidden;
    height: 700px;
    width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .box2 video {
    object-fit: fill;
    object-position: center top;
    height: 100%;
    width: 100%;
  }

  /* 박스3 설정 */

  .box3 {
    overflow: hidden;
    height: 3300px;
    width: 80%;
    margin: 0 auto;
  }
  .box3 > div {
    background-color: #fff;
  }
  .box3 > h2 {
    position: fixed;
    top: 0;
    left: 0;
  }
  /* 박스3-1 설정 */

  .box3-1 {
    margin-top: 20px;
    height: 800px;
    display: block;
    width: 100%;
  }

  .box3-1 .imgBox {
    width: 100%;
    height: 40%;
    position: static;
  }
  .box3-1 .imgBox.on {
    left: 100px;
    opacity: 1;
  }

  .box3-1 .imgBox img {
    width: 100%;
    height: 100%;
    margin-top: 0px;
  }
  .box3-1 .txtBox {
    width: 100%;
    position: static;
  }

  .box3-1 .txtBox br {
    display: inline-block;
    content: " ";
    padding: 0 2px;
  }

  .box3-1 .txtBox h2 {
    margin-top: 30px;
  }

  .box3-1 .txtBox h2 b {
    font-size: 40px;
  }

  .box3-1 .txtBox p {
    margin-top: 50px;

    font-size: 15px;
  }

  .box3-1 .txtBox p em {
    font-size: 20px;
  }
  .box3-1 .txtBox p strong {
    font-size: 20px;
  }

  /* 박스 3-2 설정 */

  .box3-2 {
    position: relative;
    display: block;

    height: 600px;
    width: 100%;
  }

  .box3-2 .imgBox {
    width: 100%;
    height: 40%;
  }

  .box3-2 .imgBox img {
    height: 100%;
    position: static;
  }

  .box3-2 .txtBox {
    width: 100%;
  }

  .box3-2 .txtBox br {
    display: inline-block;
    content: " ";
    padding: 0 2px;
  }
  .box3-2 .txtBox p {
    font-size: 16px;
    text-align: center;
  }

  .box3-2 .txtBox p:nth-child(1) {
    padding-top: 30px;
  }
  .box3-2 .txtBox p:nth-child(2) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .box3-2 .txtBox p span {
    color: #242fb2;
    font-size: 20px;
    font-weight: 800;
  }

  .box3-2 .txtBox p em {
    font-style: normal;
    color: #e6a019;
    font-size: 20px;
    font-weight: 600;
  }

  /* 박스3-3 설정 */

  .box3-3 {
    width: 100%;
    margin: 0 auto;

    display: block;
    height: 900px;
  }

  .box3-3 .imgBox {
    width: 100%;
    transform: translateY(700px);
    opacity: 0;
    transition: all 1s;
  }

  .box3-3 .imgBox img {
    width: 100%;
  }

  .box3-3 .imgBox.on {
    transform: translateY(0);
    opacity: 1;
  }

  .box3-3 .txtBox {
    width: 100%;
  }

  .box3-3 .txtBox h2 {
    font-size: 40px;
    margin-top: 50px;
    font-weight: 400;
    font-family: "Jacques Francois", serif;
    color: #e6a019;
    text-align: center;
  }

  .box3-3 .txtBox .note {
    margin-left: 0px;
    margin-top: 50px;
    text-align: center;
    height: 240px;
    position: relative;
  }

  .box3-3 .txtBox .note p {
    width: 300px;
    height: 80px;
    font-size: 30px;
    font-family: "Jacques Francois", serif;
    text-align: center;
    padding-top: 30px;
    position: absolute;
    top: -400px;
    left: 0;
    opacity: 0;
  }

  /* 박스3-4 설정 */

  .box3-4 {
    display: block;
    height: 900px;
    width: 100%;
    flex-direction: row;
  }

  .box3-4 .imgBox {
    width: 100%;
    height: 350px;
  }
  .box3-4 .imgBox img {
    width: 100%;
    height: 100%;
    padding-left: 0px;
  }

  .box3-4 .txtBox {
    width: 100%;
  }

  .box3-4 .txtBox p {
    padding-right: 0px;

    font-size: 20px;
  }
  .box3-4 .txtBox p b {
    font-size: 20px;
  }
  .box3-4 .txtBox p span {
    font-size: 20px;
  }

  .box3-4 .txtBox p em {
    font-size: 20px;
  }

  /* 박스4 설정 */

  .box4 {
    height: 300px;
    background-color: #fff;
    overflow: hidden;
    width: 100%;
  }
  .box4 video {
    object-fit: fill;
    height: 100%;
    width: 100%;
  }

  /* 박스5 설정 */

  .box5 {
    height: 300px;
    position: relative;
    overflow: hidden;
    padding-top: 50px;
    overflow: hidden;
    width: 100%;
  }

  .box5 ul {
    display: flex;
    width: 100%;
    position: absolute;
  }
  .box5 ul li {
    width: 100%;
    margin-right: 10%;
  }

  .box5 ul li img {
    width: 80px;
    height: 200px;
    transition: all 0.6s;
  }

  /* 박스5 에니메이션 설정 */

  .box5 ul:nth-child(1) {
    left: 0%;
    animation: ani4 20s linear infinite;
  }
  .box5 ul:nth-child(2) {
    left: 100%;
    animation: ani3 20s linear infinite;
  }

  /* 박스5 슬라이드 설정 */

  @keyframes ani3 {
    0% {
      left: 190%;
    }
    50% {
      left: 0;
    }
    100% {
      left: -190%;
    }
  }

  @keyframes ani4 {
    0% {
      left: 0;
    }
    50% {
      left: -190%;
    }
    50.00001% {
      left: 190%;
    }
    100% {
      left: 0%;
    }
  }

  /* 푸터 설정 */

  footer {
    height: 400px;
    width: 100%;
  }

  footer .top {
    height: 200px;
    width: 100%;
  }

  footer .top h2 {
    left: 10%;
    top: 10%;

    width: 300px;

    height: 150px;
  }

  footer .top .snsBox {
    font-size: 25px;

    display: flex;
    position: absolute;
    right: 5%;
    bottom: 0;
  }

  footer .top .snsBox a {
    display: block;
  }

  footer .bot {
    height: 200px;
    width: 95%;
    margin: 0 auto;
    display: block;
  }

  footer .bot p {
    font-size: 15px;
  }

  footer .bot p:nth-child(2) {
    font-weight: 600;
  }
}
